# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/

# Project specific secrets
client_secret.json
token.json

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars

# OS files
.DS_Store
Thumbs.db
